{% extends 'admin_webapp/dashboard-base.html' %}
{% load static %}
{% block content %}

	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Add Blog</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'dashboard' %}">Home</a></li>
						<li><a href="{% url 'dashboard-manage-blogs' %}">Manage Blogs</a></li>
						<li>Add Blog</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<form class="row" method="POST">
				{% csrf_token %}

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-account-circle"></i> New Blog</h3>
						</div>

						<div class="content with-padding padding-bottom-0">

							<div class="row">

								<div class="col-auto">
									<div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
										<img class="profile-pic" src="{% static 'web_app/images/user-avatar-placeholder.png' %}" alt="" />
										<div class="upload-button"></div>
										<input class="file-upload" type="file" accept="image/*"/>
									</div>
								</div>

								<div class="col">
									<div class="row">
										<div class="col-xl-6">
											<!-- Upload Button -->
											<div class="submit-field">
												<h5>Set Featured Image</h5>
												<div class="uploadButton margin-top-0">
													<input class="uploadButton-input" type="file" id="upload" name="feature_image" multiple/>
													<label class="uploadButton-button ripple-effect" for="upload">Upload Featured Image</label>
													<span class="uploadButton-file-name">Maximum file size: 10 MB</span>
												</div>
											</div>
										</div>

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Add Title</h5>
												<input type="text" class="with-border" name="title" value="Tom">
											</div>
										</div>

										<div class="col-xl-12">
											<div class="submit-field">
												<h5>Paragraph Content</h5>
												<div id="editor">
													<p >Here goes the initial content of the editor.</p>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box">

						<div class="content">
							<ul class="fields-ul">
							<li>
								<div class="row">
									<div class="col-xl-12">
										<div class="submit-field">
											<h5>Category</h5>
											<div class="feedback-yes-no margin-top-0">
												<input id="blog_category" class="with-border" name="blog_category" type="text">
												<!-- <div class="checkbox mr-4">
													
													<label> Add Category</label>
												</div> -->
										</div>
									</div>

									<div class="col-xl-12">
										<div class="submit-field">
											<h5>Tags <i class="help-icon" data-tippy-placement="right" title="Add up to 10 Tags"></i></h5>

											<!-- Skills List -->
											<div class="keywords-container">
												<div class="keyword-input-container">
													<input type="text" class="keyword-input with-border" name="tags" placeholder="e.g. Angular, Laravel"/>
													<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
												</div>
												<div class="keywords-list">
													<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Plumber</span></span>
													<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Senior Plumber</span></span>
													<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Helper</span></span>
													<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Plumbing</span></span>
													<span class="keyword"><span class="keyword-remove"></span><span class="keyword-text">Plumber helper</span></span>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>

									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Add Author Name</h5>
											<input type="text" class="with-border" name="author_name" value="iOS Expert + Node Dev">
										</div>
									</div>

									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Publish Date</h5>
											<div class="input-with-icon">
												<div id="autocomplete-container">
													<input id="" class="with-border" type="date" name="published_date">
												</div>
												<i class="icon-line-awesome-calendar"></i>
											</div>
										</div>
									</div>

									<!-- Button -->
									<div class="col-xl-12">
										<a href="#" class="button ripple-effect green big margin-top-20">View</a>
										<a href="#" class="button ripple-effect red big margin-top-20">Move to Trash</a>
										<button class="button button-sliding-icon ripple-effect margin-bottom-40" type="submit">Published</button>
									</div>
								</div>
							</li>
						</ul>
						</div>
					</div>
				</div>

			</form>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2019 <strong>Jobshub</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->
	{% endblock content %}

	{% block scripts %}

<!-- Scripts
================================================== -->
<script src="{% static 'web_app/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'web_app/js/jquery-migrate-3.1.0.min.html' %}"></script>
<script src="{% static 'web_app/js/mmenu.min.js' %}"></script>
<script src="{% static 'web_app/js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'web_app/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'web_app/js/custom.js' %}"></script>
<script src="{% static 'web_app/js/owl.carousel.js' %}"></script>
<script src="{% static 'web_app/js/ckeditor.js' %}"></script>

<script>
	ClassicEditor
		.create( document.querySelector( '#editor' ), {
			// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
		} )
		.then( editor => {
			window.editor = editor;
		} )
		.catch( err => {
			console.error( err.stack );
		} );
</script>


<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
<script src="{% static 'web_app/js/chart.min.js' %}"></script>
<script>
	Chart.defaults.global.defaultFontFamily = "Nunito";
	Chart.defaults.global.defaultFontColor = '#888';
	Chart.defaults.global.defaultFontSize = '14';

	var ctx = document.getElementById('chart').getContext('2d');

	var chart = new Chart(ctx, {
		type: 'line',

		// The data for our dataset
		data: {
			labels: ["January", "February", "March", "April", "May", "June"],
			// Information about the dataset
	   		datasets: [{
				label: "Views",
				backgroundColor: 'rgba(42,65,232,0.08)',
				borderColor: '#2a41e8',
				borderWidth: "3",
				data: [196,132,215,362,210,252],
				pointRadius: 5,
				pointHoverRadius:5,
				pointHitRadius: 10,
				pointBackgroundColor: "#fff",
				pointHoverBackgroundColor: "#fff",
				pointBorderWidth: "2",
			}]
		},

		// Configuration options
		options: {

		    layout: {
		      padding: 10,
		  	},

			legend: { display: false },
			title:  { display: false },

			scales: {
				yAxes: [{
					scaleLabel: {
						display: false
					},
					gridLines: {
						 borderDash: [6, 10],
						 color: "#d8d8d8",
						 lineWidth: 1,
	            	},
				}],
				xAxes: [{
					scaleLabel: { display: false },  
					gridLines:  { display: false },
				}],
			},

		    tooltips: {
		      backgroundColor: '#333',
		      titleFontSize: 13,
		      titleFontColor: '#fff',
		      bodyFontColor: '#fff',
		      bodyFontSize: 13,
		      displayColors: false,
		      xPadding: 10,
		      yPadding: 10,
		      intersect: false
		    }
		},


});

</script>


<!-- Google Autocomplete -->
<script>
	function initAutocomplete() {
		 var options = {
		  types: ['(cities)'],
		  // componentRestrictions: {country: "us"}
		 };

		 var input = document.getElementById('autocomplete-input');
		 var autocomplete = new google.maps.places.Autocomplete(input, options);

		if ($('.submit-field')[0]) {
		    setTimeout(function(){ 
		        $(".pac-container").prependTo("#autocomplete-container");
		    }, 300);
		}
	}
</script>

<!-- Google API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaoOT9ioUE4SA8h-anaFyU4K63a7H-7bc&amp;libraries=places&amp;callback=initAutocomplete"></script>


{% endblock scripts %}