<!doctype html>
<html lang="en">
<head>

<title>Jobshub</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/blue.css">

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth inner-header">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">
						<li><a href="index.html" class="">Home</a></li>
						<li><a href="post-a-job.html" class="">Post a Jobs</a></li>
						<li><a href="jobs-search-list.html" class="">Find Works</a></li>
						<li><a href="how-it-works.html" class="">How it Works</a></li>
						<li><a href="blogs.html" class="">Blogs</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!--  User Notifications -->
				<div class="header-widget hide-on-mobile">
					<div class="header-notifications">
						<div class="header-notifications-trigger ico-lg">
							<a href="#"><i class="icon-brand-apple"></i></a>
						</div>

					</div>
					<div class="header-notifications">
						<div class="header-notifications-trigger ico-lg">
							<a href="#"><i class="icon-brand-android"></i></a>
						</div>
					</div>
				</div>
				<!--  User Notifications / End -->

				<!-- User Menu -->
				<div class="header-widget py-3">
					<a href="register.html" class="signup-btn btn btn-light rounded-pill border-dark px-4 mt-1">Signup</a>
					<a href="login.html" class="login-btn btn btn-dark rounded-pill px-4 mt-1">Login</a>
				</div>
				<!-- User Menu / End -->

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
<!-- Content
================================================== -->
<div id="titlebar" class="bg-theme">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-white">Contact Us</h2>
			</div>
		</div>
	</div>
</div>


<!-- Container -->
<section class="py-5">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-lg-10 col-12">
				<div class="contact-location-info">
					<div class="contact-address">
						<div class="row w-100">
							<div class="col-lg-4 col-12 px-0 bg-dark">
								<ul class="py-md-5">
									<li class="contact-address-headline text-white fw-700">Contact Us<br><p><small>We are always there to help you!</small></p></li>
									<li class="text-light"><small>Phone:</small></li>
									<li class="text-light"><i class="icon-feather-phone mr-1"></i> Phone (123) 123-456</li>
									<li class="text-light mb-4"><i class="icon-feather-phone mr-1"></i> Phone (123) 123-456</li>
									<li class="text-light"><small>Email:</small></li>
									<li class="text-light mb-4"><a href="#" class="text-light"><i class="icon-line-awesome-envelope mr-1"></i>  info@joshub.com</a></li>
									<li class="text-light"><small>Follow Us:</small></li>
									<li>
										<div class="freelancer-socials">
											<ul class="p-0">
												<li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
												<li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
												<li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
												<li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>
											
											</ul>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-lg-8 col-12">			
								<div id="contact" class="px-4 py-5">
									<h3 class="headline fw-700">Give Feedback or report an issue</h3>
									<p class="mb-4">We value your suggestions. We will try to revert at the earliest!</p>

									<form method="post" name="contactform" id="contactform" autocomplete="on">
										<div class="row">
											<div class="col-md-12">
												<div class="input-with-icon-left">
													<input class="with-border" name="name" type="text" id="name" placeholder="Your Name" required="required" />
													<i class="icon-material-outline-account-circle"></i>
												</div>
											</div>

											<div class="col-md-12">
												<div class="input-with-icon-left">
													<input class="with-border" name="email" type="email" id="email" placeholder="Email Address" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
													<i class="icon-material-outline-email"></i>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-3">
												<div class="input-with-icon-left">
													<select class="with-border" name="name" type="text" id="name" required="required">
														<option>+91</option>
													</select>
												</div>
											</div>

											<div class="col-9">
												<div class="input-with-icon-left">
													<input class="with-border" name="email" type="number" id="email" placeholder="Mobile Number" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
													<i class="icon-feather-phone"></i>
												</div>
											</div>
										</div>

										<div>
											<textarea class="with-border" name="comments" cols="40" rows="3" id="comments" placeholder="Message" spellcheck="true" required="required"></textarea>
										</div>

										<input type="submit" class="submit button margin-top-15 mb-0" id="submit" value="Submit Message" />

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
	<!-- Container / End -->

	
<!-- Footer
================================================== -->
<div id="footer">
	
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="images/logo2.png" alt="">
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
							
							<!-- Language Switcher -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="IOS App" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-apple"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Android App" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-android"></i>
											</a>
										</li>
										<li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>

					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Candidates</h3>
						<ul>
							<li><a href="#"><span>Browse Jobs</span></a></li>
							<li><a href="#"><span>Add Resume</span></a></li>
							<li><a href="#"><span>Job Alerts</span></a></li>
							<li><a href="#"><span>My Bookmarks</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>For Employers</h3>
						<ul>
							<li><a href="#"><span>Browse Candidates</span></a></li>
							<li><a href="#"><span>Post a Job</span></a></li>
							<li><a href="#"><span>Post a Task</span></a></li>
							<li><a href="#"><span>Plans & Pricing</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
							<li><a href="#"><span>About Us</span></a></li>
							<li><a href="#"><span>Contact Us</span></a></li>
							<li><a href="#"><span>Terms and Conditions</span></a></li>
							<li><a href="#"><span>Privacy Policy</span></a></li>
							<li><a href="#"><span>Career</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a href="#"><span>Log In</span></a></li>
							<li><a href="#"><span>My Account</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Newsletter -->
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
					<p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
					<form action="#" method="get" class="newsletter">
						<input type="text" name="fname" placeholder="Enter your email address">
						<button type="submit"><i class="icon-feather-arrow-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2020 <strong>Jobshub</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery-migrate-3.1.0.min.html"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/owl.carousel.js"></script>

<!-- Google Autocomplete -->
<script>
	function initAutocomplete() {
		 var options = {
		  types: ['(cities)'],
		  // componentRestrictions: {country: "us"}
		 };

		 var input = document.getElementById('autocomplete-input');
		 var autocomplete = new google.maps.places.Autocomplete(input, options);
	}

	// Autocomplete adjustment for homepage
	if ($('.intro-banner-search-form')[0]) {
	    setTimeout(function(){ 
	        $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
	    }, 300);
	}

</script>
<script>
$(document).ready(function() {
 $(".owl_carousel").owlCarousel({
   //navigation : true,
   nav:true,
   dots:false,
   navText:['',''],
   loop : true,
   responsive:{
       0:{
           items:1
       },
       600:{
           items:2
       },
       1000:{
           items:4
       }
   }
 });
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaoOT9ioUE4SA8h-anaFyU4K63a7H-7bc&amp;libraries=places&amp;callback=initAutocomplete"></script>

</body>
</html>