{% extends 'user_webapp/base.html' %}
{% block content %}

<!-- Wrapper -->
<div id="wrapper">

<!-- Page Content
================================================== -->
<section class="py-5 bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-10 col-12">

				<div class="login-register-page bg-white bx-sdw">
					<!-- Welcome Text -->
					<div class="welcome-text px-5 py-4 border-bottom">
						<h3>Reset Password</h3>
						<p class="mb-0">Reset your password by enter your Email Id</p>
					</div>
					
					<div class="welcome-foot px-5 py-4">	
					<!-- Form -->
						<form method="post" id="register-account-form">
							{% csrf_token %}
							<div class="text-center">
								{% if messages %}
									{% for message in messages %}
										<h3 class="alert alert-success text-dark">{{ message }}</h3>
									{% endfor %}
								{% endif %} 
							</div><br>
							<div class="input-with-icon-left">
								<i class="icon-material-baseline-mail-outline"></i>
								<input type="text" class="input-text with-border" name="email" id="emailaddress-register" placeholder="Enter Email Address" required/>
							</div>
							<input type="submit" class="btn btn-success btn-block" value="Continue"><br>

						</form>						
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

</div>
<!-- Wrapper / End -->

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

{% endblock %}